.wrapper {
  text-align: right;
}

.triggerIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.activeTriggerIcon {
  color: var(--Primary-500);
}

.defaultTriggerIcon {
  color: var(--Light-100);
}
.itemDropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dropdownContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  border: 1px solid #4c4c4c;

  //padding: 0.625rem 0.75rem;

  animation-duration: 0s;
}
