.body {
  display: flex;
  gap: 0.1875rem;
  justify-content: space-between;
}

.selectDiv {
  background: var(--Dark-700);

  &.hover {
    background-color: var(--Dark-500);
  }
}

.contentDiv {
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.5rem 0.375rem;

  background: var(--Dark-700);
  border: 1px solid var(--Dark-100);
  outline: none;

  &::placeholder {
    color: var(--Light-500);
  }

  &:hover {
    background-color: var(--Dark-500);
    border: 1px solid var(--Light-900);
  }

  &:focus-visible:enabled {
    border-color: var(--Primary-500);
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.text {
  color: var(--Light-900);
}

.divList {
  position: absolute;
  z-index: 1000;

  overflow: auto;

  width: 100%;
  max-height: 12.5rem;

  background-color: var(--Dark-500);
  border: 1px solid var(--Dark-100);
}

.button {
  position: absolute;
  right: 0.625rem;

  &.disabled {
    cursor: not-allowed;
  }
}

.iconButton {
  position: absolute;
  right: 0.625rem;
}

.ulContainer {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.liStyle {
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    color: var(--Primary-500);
    background-color: var(--Dark-300);
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--Light-100);
}
