.formWrapper {
  display: flex;
  flex-direction: column;
}

.mainText {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--Light-900);
}

.linkButton {
  margin: 1.5rem 0;
}

.recaptchaBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;

  width: 100%;
  max-width: 18.75rem;
  padding: 1rem 1.25rem;

  border: 1px solid var(--Dark-300);
  border-radius: 0.125rem;
}

.checkBoxWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}
