.formWrapper {
  display: flex;
  flex-direction: column;
}

.mainText {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--Light-900);
}

.additionalText {
  margin-bottom: 1.125rem;
}

.linkButton {
  margin: 1.5rem 0;
}

.recaptchaWrapper {
  position: relative;
  margin: 0 auto;
}

.errorWrapper {
  border: 0.0625rem solid var(--Danger-500);
}

.recaptcha {
  cursor: pointer;
}

.disableRecaptcha {
  pointer-events: none;
}

.recaptchaError {
  position: absolute;
  top: 65%;
  left: 4%;
  color: var(--Danger-500);
}
