.title {
  margin: 35px 0 19px;
}

.titleExpired {
  margin-bottom: 19px;
}

.text {
  margin-bottom: 54px;
}

.textExpired {
  width: 294px;
  margin-bottom: 30px;
  text-align: center;
}

.button {
  width: 182px;
  margin-bottom: 72px;
}

.buttonResend {
  width: 229px;
  margin-bottom: 31px;
}
