.avaWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: flex-start;
  align-items: center;
}

.hover.hover {
  &:hover {
    color: var(--Primary-300);
    cursor: pointer;
  }
}
