.generalDiv {
  position: relative;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}

.lineDiv {
  position: absolute;
  bottom: 4.0625rem;
  width: 100%;
  border: 1px solid var(--Dark-300);
}
