.generalDiv {
  position: relative;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.lineDiv {
  position: absolute;
  bottom: 65px;
  width: 100%;
  border: 1px solid var(--Dark-300);
}
