.layoutContainer {
  display: flex;
  flex-direction: row;
}

.mainWithNav,
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.mainWithNav {
  padding-right: 1.0625rem;
  padding-left: 11.5rem;
}

.main {
  padding-right: 1.0625rem;
  padding-left: 1.0625rem;
}
