.layoutContainer {
  display: flex;
  flex-direction: row;
}

.mainWithNav,
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.mainWithNav {
  padding-left: 11.5rem;
}
