.layoutContainer {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--header-height));
}

.mainWithNav,
.main {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  padding: 2.25rem 4rem 1.25rem 1.5rem;
}

.mainWithNav {
  width: calc(100vw - var(--navBar-width));
}
