.childrenWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1.875rem 1.5rem 2.25rem;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;
}

.modalButton {
  width: 6rem;
  height: 2.25rem;
}
