.closeButton {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 0.125rem solid var(--Primary-300);
  }
}

.childrenWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1.875rem 1.5rem 2.25rem;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;
}

.modalButton {
  height: 2.25rem;
}
