.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding-right: 1.5rem;
}
