.addPostTextWrapper {
  display: flex;
  flex-direction: column;
  width: 30.125rem;
  height: 31.25rem;
}

.postWrapper {
  height: 50%;
  border-bottom: 0.0625rem solid var(--Dark-100);
}

.locationWrapper {
  height: 50%;
  padding: 1.5rem;
}

.locationInputWrapper {
  position: relative;
  margin-bottom: 1rem;
}

.locationInput {
  padding-right: 2rem;
}

.locationIcon {
  position: absolute;
  right: 0.5rem;
  bottom: 0.45rem;

  width: 1.5rem;
  height: 1.5rem;

  color: var(--Light-100);
}

.placesWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.locationItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
  padding-right: 1rem;
}

.deleteLocationBtn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1rem;
  height: 1rem;

  color: var(--Light-100);

  border-radius: 0.25rem;

  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    color: var(--Primary-500);
    background-color: var(--Dark-500);
  }
}
