.layout {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  height: var(--header-height);
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
