.layout {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 74.375rem;
  margin: 0 auto;
  padding: 0 1.0625rem;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;

  height: var(--header-height);

  background-color: var(--Dark-700);
}
