.trigger {
  &:focus-visible:not(:hover) {
    outline: none;
    color: inherit;
  }

  &:hover,
  &Hovered {
    color: var(--Primary-500);
  }
  @media (max-width: 767px) {
    margin-top: 5px !important;
    width: 17px !important;
    height: 17px !important;
  }
}

.root {
  position: absolute;
  left: -330px;
  width: 355px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--Dark-100);

  background-color: var(--Dark-500);

  cursor: auto;

  @media (max-width: 767px) {
    left: -200px;
    width: 350px;
  }
}
.closeIcon {
  width: 17px !important;
  height: 17px !important;
  @media (min-width: 767px) {
    display: none;
  }
}
.title {
  margin-bottom: 12px;
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.list {
  display: flex;
  flex-flow: column nowrap;
}

.item {
  width: 96%;
  border-top: 1px solid var(--Dark-100);
  padding: 15px 5px;

  row-gap: 5px;

  display: flex;
  flex-flow: column nowrap;

  &TitleContainer {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
    align-items: center;
  }

  &New {
    color: var(--Primary-500);
  }

  &Date {
    color: var(--Light-900);
  }

  &BtnWrapper {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;

    &DeleteBtn {
      color: var(--Danger-100);
      border: 1px solid var(--Danger-100);
      padding: 2px 5px;
      align-self: flex-start;

      &:hover {
        color: var(--Danger-300);
        border-color: var(--Danger-300);
      }
    }

    &MarkAsReadBtn {
      color: var(--Success-100);
      border: 1px solid var(--Success-100);
      padding: 2px 5px;
      align-self: flex-start;

      &:hover {
        color: var(--Success-300);
        border-color: var(--Success-300);
      }
    }
  }
}
