.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.avatarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.circle::after {
  content: '';
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: var(--Light-700);
  margin-left: 0.5rem;
  vertical-align: middle;
}

.createdAt.createdAt {
  color: var(--Light-900);
}
