.root {
  width: 50%;
  margin-right: 28.125rem; /* 450px */
}

.tabsDiv {
  position: absolute;
  top: 4.5625rem; /* 73px */
  left: 37.5rem; /* 600px */
  width: 40.625rem; /* 650px */
  height: 0.0625rem; /* 1px */
  background: var(--Dark-300);
}
