.wrapper {
  position: relative;
  width: 100%;
}

.textAreaWrapper {
  box-sizing: border-box;
  border-top: 0.0625rem solid var(--Dark-300);
  padding: 0.25rem;
}

.textArea {
  border: none;
  padding-right: 10rem;
  padding-left: 2.5rem;
  font-size: 1rem;
  min-height: 2.125rem;
  max-height: 10rem;
  overflow-y: auto;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.sendButton.sendButton {
  position: absolute;
  border: none;
  bottom: 0;
  right: 0;
  transform: translateY(-10%);

  padding-right: 0;
  margin-right: 1.5rem;

  &:hover {
    border: none;
  }
}

.clearMessageButton.clearMessageButton {
  position: absolute;
  bottom: 0;
  left: 0.375rem;
  transform: translateY(-40%);

  background-color: var(--Primary-300);
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  padding: 0;

  &:hover {
    background-color: var(--Primary-100);
  }
}
