.card {
  width: 100%;
  max-width: 378px;
  padding: 23px 24px 36px;
  border-radius: 2px;

  .title {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .textFieldSmall {
      margin-top: 37px;
    }

    .textFieldLarge {
      margin-top: 24px;
    }

    .submitButton {
      margin-top: 41px;
      text-align: center;
      text-decoration: none;
    }

    .instruction {
      margin-top: 7px;
      color: var(--Light-900);
    }
  }
}
