.wrapper {
  position: sticky;
  top: var(--header-height);
  left: 0;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;

  width: 13.75rem;
  height: calc(100vh - var(--header-height));
  padding: 4.5rem 2rem 6.875rem 3.75rem;

  border-right: 0.0625rem solid var(--Dark-300);
}

.secondArrayWrapper {
  margin-bottom: 7.5rem;
}

.logOutButton {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-self: flex-start;

  padding: 0;

  background-color: transparent;
}

.logOutIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.email {
  color: var(--Primary-500);
}
