.root {
  width: 100%;
}

.general {
  text-align: center;
}

.devices {
  color: red;
  text-align: center;
}

.management {
  color: green;
  text-align: center;
}

.payments {
  color: blue;
  text-align: center;
}
