.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  width: 12.5rem;
}

.deleteAvatarBtnWrapper {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  padding: 0.5rem;

  background-color: var(--Dark-700);
  border-radius: 50%;
}

.deleteAvatarBtn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;

  background-color: var(--Danger-500);
  border-radius: 50%;
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 12.25rem;
  height: 12.25rem;

  background-color: var(--Dark-500);
  border-radius: 50%;
}

.avatarImg {
  width: 3rem;
  height: 3rem;
}
