.card {
  width: 100%;
  max-width: 378px;
  padding: 23px 23px 24px;

  .title {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .textField {
      margin-top: 37px;
    }

    .submitButton {
      margin-top: 17px;
    }

    .recaptcha {
      margin-top: 24px;
    }

    .instruction {
      margin-top: 7px;
      color: var(--Light-900);
    }

    .backToSignIn {
      margin-top: 24px;
      text-align: center;
      text-decoration: none;
    }

    .error {
      color: var(--Danger-500);
    }
  }
}
