.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1.5rem 1.5rem 2.25rem;
}

.sliderWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
