.layout {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  height: var(--header-height);
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.layoutContainer {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.main {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  padding: 2.25rem 4rem 1.25rem 1.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;
}
