.wrapper {
  margin: 30px 24px 36px;

  .text {
    margin-bottom: 18px;
  }

  .buttonWrapper {
    display: flex;
    justify-content: flex-end;

    .button {
      max-width: 96px;
      height: auto;
      max-height: 36px;
    }
  }
}
