.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.0625rem solid var(--Dark-300);
  border-top: 0.0625rem solid var(--Dark-300);
  border-right: 0.0625rem solid var(--Dark-300);
  height: 40.25rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding: 0.625rem;
  width: 100%;
  background-color: var(--Dark-500);
  border-bottom: 0.0625rem solid var(--Dark-300);
}

.avatar {
  border-radius: 50%;
}

.content {
  flex-grow: 1;
}
