.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.usersWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
