.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 3.75rem;
}

.backToSign {
  align-self: flex-start;
  padding: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.text {
  margin-top: -0.1875rem;
  padding: 0 6.0625rem;
  text-align: center;
}
