.closeButton {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 0.125rem solid var(--Primary-300);
  }
}

.imgWrapper {
  width: 13.875rem;
  height: 14.25rem;
  margin-top: 5.375rem;
  margin-bottom: 1.875rem;
}
