.formWrapper {
    width: 740px;
   
  }

  .selectDiv{
    display: flex;
    
  }

  .selectDiv > div {
    flex: 1; 
    margin-right: 0.5rem; 
  }
  
  .selectDiv > div:last-child {
    margin-right: 0; 
  }

  .submitButton{
    margin-top: 48px;
margin-left: 79%;

  }