.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 740px;
}

.selectDiv {
  display: flex;
}

.selectDiv > div {
  flex: 1;
  margin-right: 0.5rem;
}

.selectDiv > div:last-child {
  margin-right: 0;
}

.submitButton {
  margin-top: 48px;
  margin-left: 79%;
}

.spanDiv {
  position: relative;
}

.span {
  position: absolute;
  left: 70px;
  color: var(--Danger-500);
}

.labelDate {
  color: var(--Light-900);
}

.errorDiv {
  position: relative;
  display: flex;
  align-items: center;
}

.link {
  position: absolute;
  top: 0;
  color: var(--Danger-500);
  
}

.linkPrvacy {
  position: absolute;
  top: 4px;
  left: 247px;
  color: var(--Danger-500);
}
