.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 46.25rem;
}

.selectDiv {
  display: flex;
}

.selectDiv > div {
  flex: 1;
  margin-right: 0.5rem;
}

.selectDiv > div:last-child {
  margin-right: 0;
}

.submitButton {
  margin-top: 3rem;
  margin-left: 4.9375rem;
}

.span {
  color: var(--Danger-500);
}

.labelDate  {
  color: var(--Light-900);
}

.labelInput {
  color: var(--Light-900);
}

.dateOfBirthWrapper {
position: relative;
}

.errorDiv {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--Danger-500);
}

.linkPrvacy {
  color: var(--Danger-500);
}


