.wrapper {
  position: relative;
  width: 100%;
}

.rootWrapper {
  position: relative;

  & .iconButton {
    position: absolute;
    top: 1.5rem;
    right: 0;

    padding-left: 0;

    background-color: transparent;
    border: none;

    &:active:enabled {
      background-color: transparent;
    }
  }
}

.selectRoot {
  padding-right: 2.5rem;
  border: 0.0625rem solid var(--Dark-100);
}

.arrowIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--Light-100);
}

.optionsWrapper {
  position: absolute;
  z-index: 500;

  overflow: auto;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  background-color: var(--Dark-500);
  border: 0.0625rem solid var(--Dark-100);
}

.item {
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    color: var(--Primary-500);
    background-color: var(--Dark-300);
  }
}
