.wrapper {
  position: absolute;
  top: var(--header-height);
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 3.75rem;

  width: var(--navBar-width);
  min-width: var(--navBar-width);
  padding: 4.5rem 0 0;

  background-color: #990f2b;
  border-right: 0.0625rem solid var(--Dark-300);
}

.secondArrayWrapper {
  margin-bottom: 7.5rem;
}
