.wrapper {
  position: fixed;

  display: flex;
  flex-direction: column;
  gap: 3.75rem;

  width: var(--navBar-width);
  min-width: var(--navBar-width);
  height: 100%;
  padding: 4.5rem 0 0 1.0625rem;

  border-right: 0.0625rem solid var(--Dark-300);
}

.secondArrayWrapper {
  margin-bottom: 7.5rem;
}
