.wrapper {
  position: sticky;
  top: var(--header-height);
  left: 0;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;

  width: var(--navBar-width);
  min-width: var(--navBar-width);
  height: calc(100vh - var(--header-height));
  padding: 4.5rem 0 0;

  border-right: 0.0625rem solid var(--Dark-300);
}

.secondArrayWrapper {
  margin-bottom: 7.5rem;
}
