.swiper {
  width: 18.75rem;
  height: 18.75rem;
  margin-right: auto;
  margin-left: auto;
}

.swiperContainer {
  position: relative;
}

.swiperSlide {
  /* Center slide text vertically */
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  text-align: center;

  background: #fff;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pagination {
  // Стили для пагинации
}

.paginationBulletActive {
  color: yellow;
}

.paginationBullet {
  color: green;
}

.navigationPrev,
.navigationNext {
  cursor: pointer;

  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);

  width: 2.25rem;
  height: 2.25rem;

  color: var(--Light-100);

  background-color: var(--Dark-300);
  border-radius: 0.125rem;
}

.navigationPrev {
  left: 0.75rem;
}

.navigationNext {
  right: 0.75rem;
}
