.head {
  &:hover {
    background-color: var(--Dark-500);
  }
}

.emptyText.emptyText {
  text-align: center;
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
}
.avatarPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background: var(--Primary-300);
  border-radius: 50%;
}
