:root {
  // accent
  --Primary-100: #73a5ff;
  --Primary-300: #4c8dff;
  --Primary-500: #397df6;
  --Primary-700: #2f68cc;
  --Primary-900: #234e99;

  // success
  --Success-100: #80ffbf;
  --Success-300: #22e584;
  --Success-500: #14cc70;
  --Success-700: #0f9954;
  --Success-900: #0a6638;

  // danger
  --Danger-100: #ff8099;
  --Danger-300: #f23d61;
  --Danger-500: #cc1439;
  --Danger-700: #990f2b;
  --Danger-900: #660a1d;

  // warning
  --Warning-100: #ffd073;
  --Warning-300: #e5ac39;
  --Warning-500: #d99000;
  --Warning-700: #960;
  --Warning-900: #640;

  // dark
  --Dark-100: #4c4c4c;
  --Dark-300: #333;
  --Dark-500: #171717;
  --Dark-700: #0d0d0d;
  --Dark-900: #000;

  // light
  --Light-100: #fff;
  --Light-300: #f7fbff;
  --Light-500: #edf3fa;
  --Light-700: #d5dae0;
  --Light-900: #8d9094;
}
