.logOutButton {
  padding: 0;
  background-color: transparent;
}

.logOutIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.text {
  display: flex;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.noOtherSessionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
}
