.cardContainer {
  padding: 1.5rem;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.5rem;
}

.linksWrapper {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
