.cardContainer {
  width: 100%;
  max-width: 25rem;
  padding: 1.5rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.125rem;
}

.checkBoxWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submitButton {
  margin-top: -0.75rem;
}
