.cardContainer {
  padding: 1.5rem;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.5rem;
}

.linksWrapper {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.125rem;
}

.checkBoxWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submitButton {
  margin-top: -0.75rem;
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  align-items: center;
  justify-content: center;
}
