.postWrapper {
  height: 50%;
  padding: 1.5rem;
  border-bottom: 0.0625rem solid var(--Dark-100);
}

.avatarWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 1.5rem;
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;
}

.textAreaWrapper {
  display: flex;
  flex-direction: column;
}

.textArea {
  height: 6.25rem;
}

.errorText {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.wrapper {
  position: relative;
}

.charCount {
  align-self: flex-end;
  color: var(--Light-900);
}
