.root.root {
  height: 35.25rem;

  display: flex;
  flex-flow: row nowrap;

  &:focus-visible {
    outline: none;
  }
}

.postsItem {
  width: 30.625rem;
}

.postComments.postComments {
  width: 30rem;
  height: 100%;
}

.closeIcon {
  position: absolute;
  right: -2rem;
  top: -2rem;
  cursor: pointer;
}

.confirmationModalOverlay {
  opacity: 0;
  animation: 0;
}
