.dropdownContent {
  padding: 0.625rem 0.75rem;
  color: var(--Light-900);
  background-color: var(--Dark-500-80);
  animation-duration: 0s;
}

.triggerIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.activeTriggerIcon {
  color: var(--Primary-500);
}

.defaultTriggerIcon {
  color: var(--Light-100);
}

.triggerBtn {
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--Dark-500);
  border-radius: 0.125rem;
}

.imagesWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: center;

  width: 100%;
}

.dropDownItem {
  position: relative;
}

.activeDropDownItem {
  border: 0.125rem solid var(--Primary-500);
  border-radius: 0.125rem;
}

.imageItem {
  border-radius: 0.125rem;
}

.deleteButton {
  cursor: pointer;

  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1rem;
  height: 1rem;

  color: var(--Light-100);

  background-color: var(--Dark-500-80);
  border-radius: 0.25rem;

  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    color: var(--Primary-500);
    background-color: var(--Dark-500);
  }
}

.cross {
  align-self: center;
  font-size: 0.75rem;
}

.addImageBtn {
  align-self: flex-start;
  padding: 0;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.addNewImage {
  cursor: pointer;

  width: 2.25rem;
  height: 2.25rem;

  color: var(--Light-100);

  transition: color 0.2s;

  &:hover {
    color: var(--Primary-500);
  }
}
