.cardACType {
  height: 7rem;
}
.cardCosts {
  height: 10rem;
}

.text {
  margin-bottom: 0.5rem;
}

.payContainer {
  display: flex;
  justify-content: flex-end;
}

.pay {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.radioButton {
  padding: 0.45rem;
}
